  <h2><%= question_header(@question) %></h2>
  <h4>Associated test: <%= @question.test.title %>, level: <%= @question.test.level %> </h4>
  <%= form_with model: [@test, @question] do |form| %>
    <%= form.label :body %>
    <%= form.text_field :body %> 
    <%= form.submit %>
  <% end %>
