<%= form_with(model: [:admin, @badge], local: true, class: "new_badge_form") do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :icon_file %>
    <%= form.text_field :icon_file %>
  </div>

  <h4>Правила выдачи</h4>
  <div class="field">
    <%# не понял как для селектора вызвать хелпер ведь text_method вызывается для каждого элемента коллекции, а в нашем случае элемент это просто символ %>
    <%= form.select :rule, mapped_rules, prompt: true %> 
    <%= form.text_field :value, size: 20 %> 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
