<%= form_with(model: [:admin, @badge], local: true, class: "new_badge_form") do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :icon_file %>
    <%= form.text_field :icon_file %>
  </div>

  <h4>Правила выдачи</h4>
  <div class="field">
    <%# Путаница с kebab-case и snake-case для классов и айди %>
    <%# суффикс кнопки и лейбла должны строго совпадать с параметрами %>
    <%= form.radio_button :rule, 'level', class: "new_badge_radio" %>
    <%= form.label :rule_level, 'Вручать за прохождение всех тестов уровня' %> 
    <%= form.collection_select :level, Test.pluck(:level).uniq!, :to_int, :to_int, prompt: true, class: 'new-badge-selector' %> </br>
    <%= form.radio_button :rule, 'category_id', class: "new_badge_radio" %>     <%= form.label :rule_category_id, 'Вручать за прохождение всех тестов в категории' %> 
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true, class: 'new-badge-selector' %> </br>
    <%= form.radio_button :rule, 'test_id', class: "new_badge_radio" %>
    <%= form.label :rule_test_id, 'Вручать за прохождение теста с первой попытки' %> 
    <%= form.collection_select :test_id, Test.all, :id, :title, prompt: true, class: 'new-badge-selector' %> </br>
    
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
