<%= form_with model: feedback, local: true do |form| %>
  <div class="field">
    <%= form.label :email%>
    <%= form.text_field :email%>
    <%= form.label :body %> </br>
    <%= form.text_area :body, class: 'form-control z-depth-1', cols: 60, rows: 10 %>
  </div>

  <div class="actions mb-4">
    <%= form.submit %>
  </div>
<% end %>
