<p><%= test.title %>, <%= I18n.t('admin.tests.level') %>: <%= test.level %>, <%= I18n.t('admin.tests.questions') %>: <%= test.questions.size %> </p>
<%= link_to 'Open', admin_test_path(test) %>
<%= link_to 'Edit', edit_admin_test_path(test) %>
<%= link_to 'DELETE', admin_test_path(test), method: :delete, data: { confirm: 'Are you sure?' } %>
