<p><%= test.title %>, level: <%= test.level %>, questions: <%= test.questions.size %> </p>
<%= link_to 'Open', test_path(test) %>
<%= link_to 'Edit', edit_test_path(test) %>
<%= link_to 'DELETE', test_path(test), method: :delete, data: { confirm: 'Are you sure?' } %>
