<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'admin/navbar' %>
    <%= flash_messages %>
    <div id=main-body class='container'>
      <%= yield %>
    </div>
    <footer>
      <p>Valentin Markin, <%= get_year %> </p>
      <p>TestGuru. Учебный проект онлайн-школы <%= link_to 'Thinknetica', 'http://thinknetica.com', 
                                                            target: "_blank" %> 
      </p>
      <p><%= link_to 'GitHub', github_url('gobedan', 'rails_basic'), target: "_blank" %></p>
    </footer>
  </body>
</html>
